.jumbotron {
	background-image: url(../img/forest.jpg);
	height: 450px;
background-repeat: no-repeat;
background-size: cover;
color: #fff;

}

.jumbotron img {
	width: 220px;
	border: 5px solid #fff;
}

section {
	min-height: 700px;
}

body {
	background-image: url(../img/gradient.jpg);
	background-repeat: repeat-x;
	background-size: cover;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
  width: 100%;
  margin: 0 auto;
}

.center {
  display: table;
  width: 100%;
  height: 50vh;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 100px;
  .social {
    padding-left: 10px;
  }
  li {
    display: inline-block;
  }
  li a {
    color: rgba(256, 256, 256, 0.6);
    border-radius: 6px;
    list-style-type: none;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    padding: 3%;
    border: 3px solid rgba(256, 256, 256, 0.6);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(256, 256, 256, 1);
      border: 1px solid rgba(256, 256, 256, 1);
    }
  }
}



.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}
.credits, .credits a {
  font-size: 20px;
  font-family: Helvetica;
  color: rgba(7, 102, 109, 0.85);
}



